body {
    font-family: 'Courier New', Courier, monospace;
    background: #181a1b;
    color: #eee;
    margin: 0px;
}

.content {
    margin: auto;
    width: 80%;
    max-width: 900px;
}

.codebox {
    background-color: #222425;
    color: #76aadb;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px;
    display: block;
}

.code {
    background-color: #222425;
    color: #cd2e3a;
    border-radius: 3px;
    padding: 4px;
}

a {
    color: dodgerblue;
}

ul {
    list-style-type: "- ";
}

footer {
    text-align: center;
    margin: auto;
    margin-top: 2em;
    padding: 2em;
    width: 80%;
    max-width: 900px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #292c2e;
}

tr:hover {
    background-color: #373b3d;
}

.flexcontainer {
    display: flex;
}

.flexcontainer>div {
    width: 33%;
    padding-left: 10px;
    border-radius: 10px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.gridcontainer>div {
    border-radius: 10px;
    padding-left: 10px;
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: hsl(128, 50%, 30%);
    border-radius: 5px;
    color: #ddd;
    user-select: none;
}

.button:hover {
    background-color: hsl(128, 50%, 25%);
}