body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #23252C;
  font-family: 'Inter', sans-serif;
}

.app-div {
  max-width: 317px;
  background-color: #23252C;
  margin-top: 44px;
}

.photo-div {
  max-height: 339px;
}

.photo-div > img {
  max-width: 317px;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  filter: contrast(110%) brightness(110%);
}

.description-div {
  background-color: #1A1B21;
  margin: 0px;
}

.description-div > h2 {
  margin: 0px;
  color: #FFFFFF;
  padding-top: 21px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.description__subtitle {
  color: #F3BF99;
  margin: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 12.8px;
}

.description__website {
  color: #F5F5F5;
  margin: 8px auto 15px auto;
  text-align: center;
  font-weight: 400;
  font-size: 10.3px;
}

.description__button-div {
  display: flex;
  justify-content: center;
}

.description__button-div > button {
  width: 115px;
  height: 34px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
}

.description__email-button {
  margin-right: 17px;
  justify-content: center;
  background-color: #FFFFFF;
  color: #374151;
}

.description__linkedin-button {
  justify-content: center;
  background-color: #5093E2;
  color: #FFFFFF;
  border-color: #5093E2;
}

.button__fa {
  margin-right: 8px;
}

.description__about-div {
  padding: 33px 34px 20px 34px;
  color: #F5F5F5;
}

.description__about-div > h3, p {
  margin: 0px;
}

.description__about-div > p {
  margin-bottom: 23px;
}
